.sq{
	display: inline-block;
	width:  150px;
	height:  150px;
	margin:  20px;
	background-color: lightblue;
	color:  red;
	font-size: 30px;
	text-align: center;
	line-height: 150px;
}
.block{
	width:  100px;
	height:  100px;
	background-color: #000;
	position: fixed;
	top:  0;
	left:  0;
}