.elem-wrap{
	display:  inline-block;
	position: relative;
	vertical-align: top;
}
.elem-wrap input , .elem-wrap textarea{
	box-sizing: border-box;
	display: inline-block;
	min-height: 30px;
	border-radius: 5px;
	padding:  10px;
}
.clear-text{
	width: 30px;
	height: 30px;
	text-align: center;
	position: absolute;
	top:  5px;
	opacity:  0;
	transition: opacity .5s;
	background-color: transparent;
	border: none;
}
.clear-text.active{
	opacity: 1;
}
.clear-text:before{
	content: "\2716";
	width:  30px;
	height: 30px;
	line-height: 30px;
	color:  #000;
	font-size: 16px;
}
.elem-wrap.right input, .elem-wrap.right textarea{
	padding-right:  30px;
}
.elem-wrap.right .clear-text{
	right:  0;
}
.elem-wrap.left .clear-text{
	left:  0;
}
.elem-wrap.left input, .elem-wrap.left textarea{
	padding-left: 30px;
}

