*, *:after, *:before{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
	padding: 0;
}
.container{
	max-width: 800px;
	padding: 50px 10px;
	margin: 0 auto;
}
.input__block{
	display: flex;
	justify-content: space-between;
}
.input-text{
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 10px;
	height: 40px;
	padding: 0 10px ;
}
.save{
	padding: 10px 20px;
	border-radius: 5px;
}
.task-list{
	margin-top: 40px;
	width: 100%;
}
.task-list li{
	display: flex;
	align-items: center;
	border: 1px solid #000;
	margin: 10px 0;
	padding: 10px 45px 10px 10px;
	border-radius: 5px;
	position: relative;
}
.remove{
	position: absolute;
	width: 25px;
	height: 25px;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}
input[type="checkbox"]:checked ~ span{
	color: red;
}
@media screen and (max-width: 500px){
	.input__block{
		flex-wrap: wrap;
		justify-content: center;
	}
	.input-text{
		width: 100%;
		margin-right: 0;
	}
	.btn{
		margin-top: 20px;
		padding: 10px 40px;
	}
}